---
# You must include the front matter on the page for Jekyll to process any Liquid tags on it.

any_variable: Gitlab rocks
tristan_title: Tristan's home
---
<h1> {{ "hello World! We are making this work from scratch" | capitalize }} </h1>
    This index file shows the things that the first page should contain
{{ page.any_variable }}
<br> My url is {{ page.url }}
<br> The title of this page is {{ page.tristan_title }}
